* {
    --not-active: #797c7c;
    --active: #ef8354;
}

.task-check {
    display: flex;
    justify-content: center;
    align-items: center;

    border: 1.5px solid var(--not-active);
    /* border-radius: 1em; */
    border-radius: 0.2em;
    width: 1em;
    height: 1em;
    color: var(--not-active);

    z-index: 1;

    cursor: pointer;

    transition: 0.2s ease-in-out;
}

.task-check.checked {
    border-color: var(--active);
    color: var(--active);
    background-color: var(--active);
}

.task-check > .task-check-icon {
    scale: 0;

    transition: 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.task-check.checked > .task-check-icon {
    /* color: var(--active); */
    color: var(--background-color);
    scale: 1;
}
