@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap");
:root {
    font-family: Outfit, sans-serif;

    color-scheme: light dark;
    color: #ffffff;
    /* color: rgba(255, 255, 255, 0.87);
    background-color: #242424; */

    background-color: #191b24;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

* {
    font-family: Outfit, sans-serif;
    font-weight: 400;
}

@font-face {
    font-family: Outfit;
    src: url("./assets/fonts/Outfit/Outfit-VariableFont_wght.ttf");
}

input {
    /* font-family: "Lexend"; */
    color: #ffffff;
}

body {
    padding: 0;
    margin: 0;
}

* {
    --background-color: #191b24;
}
